.mentor-container {
    background: #fff;
    padding: 15px 9%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 1250px;
}

.mentor-heading h1 {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 69px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    color: #292F36;

    /* H1 */
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.96px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
    width: 1200.194px;
}

.box-container .box {
    /* box-shadow: 0 5px 10px rgba(0,0,0,.2); */
    /* border-radius: 5px; */
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    width: 283.548px;
    gap: 39px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.mentor-about {
    width: 283.548px;
    gap: 17px
}

.mentor-about img {
    height: 453px;

    border-radius: 25px;
}

.mentor-about .mentor-name {
    color: #00487C;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.mentor-about .mentor-role {
    color: #00A896;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;

}

/* .box-container .box p{
    color: #00487C;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.2px;
} */


/* .mentor-container .box-container .box .btn:hover{
    letter-spacing: 1px;
} */

.icons {
    display: flex;
    width: 56.742px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    margin: auto;
    padding-top: 8px;
}

.icons .icon1 {
    display: flex;
    width: 7.897px;
    height: 21.034px;
    flex-direction: column;
    flex-shrink: 0;
    color: #292F36;
    text-align: center;
    font-family: Font Awesome 5 Brands;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.99px;
    text-transform: uppercase;
}

.icons .icon2 {
    display: flex;
    width: 11.845px;
    height: 21.034px;
    flex-direction: column;
    flex-shrink: 0;
    color: #292F36;
    text-align: center;
    font-family: Font Awesome 5 Brands;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.99px;
    text-transform: uppercase;
}

@media (max-width:768px) {
    .mentor-container {
        padding: 20px;
    }
}